backend/venv
backend/db.sqlite3
backend/__pycache__
backend/LowkeyPlaces/webApp/mapManager/migrations
reference.txt
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
db.sqlite3
node_modules
dist
dist-ssr
*.local
frontEnd/map-app/react-app/src/maps/*
__pycache__/
*.pyc
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.gitignore